.home {
  height: 100vh;

  .ant-layout-header {
    position: relative;
    background-color: var(--default_theme_bg_color);

    .ant-menu-overflow {
      height: 100%;
      background-color: var(--default_theme_bg_color);

      .ant-menu-title-content {
        color: var(--theme_font_color);
      }
    }

    .avatar {
      position: absolute;
      right: 30px;
      bottom: 0px;
    }
  }

  .logo {
    width: 250px;
    height: 50px;
    background-color: #ccc;
    margin: 10px;
  }

  .ant-layout-sider .ant-menu {
    background-color: var(--deep_theme_bg_color);

    .ant-menu-submenu-title span,
    .ant-menu-submenu-arrow,
    .ant-menu-title-content {
      color: var(--theme_font_color);
    }
  }

  .ant-tabs-nav-list .ant-tabs-tab:not(.ant-tabs-tab-active) .ant-tabs-tab-btn {
    color: var(--theme_font_color);
  }

  .ant-menu-root {
    width: 100%;
  }

  .ant-layout-header {
    padding: 0 !important;
  }

  .ant-layout {
    background-color: var(--shallow_theme_bg_color);
  }
}

.ant-popover {
  width: 100px;
}

// 右上角头像弹窗样式
.ant-popover .exit,
.ant-popover .person {
  cursor: pointer;
  line-height: 30px;
  text-align: center;
}

.home_popover {

  p,
  a {
    color: #000;
  }
}